# Supabase
NEXT_PUBLIC_SUPABASE_URL="Your Supabase URL"
NEXT_PUBLIC_SUPABASE_ANON_KEY="Your Supabase Anon Key"
SUPABASE_SERVICE_ROLE_KEY="Your Supabase Service Role Key"
POSTGRES_URI="Your Supabase Postgres URI"

# Redis
REDIS_URI="Your Redis URI"

# AI Providers
OPENAI_API_KEY="Your OpenAI API Key"
ANTHROPIC_API_KEY="Your Anthropic API Key"

# Site URL
NEXT_PUBLIC_URL=http://localhost:3000

# Tools
TAVILY_API_KEY="Your Tavily API Key"
NOTION_API_KEY="Your Notion API Key"
SERPER_API_KEY="Your Serper API Key"

# Langsmith 
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY="Your Langsmith API Key"
LANGSMITH_PROJECT="Your Langsmith Project Name"
LANGGRAPH_URL="http://localhost:8123"
